<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Gender Classification using openCV</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/base.css">
	<link rel="stylesheet" type="text/css" href="/static/colorful.css">
	<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</head>
<body>

    <article>
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-2">
                        <div class="content">
                        {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer>
        <div class="navbar navbar-default" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <ul class="pull-left">
                            <li>e-mail : sangmoon@sangmoonpark.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </footer>
</body>
</html>